<!-- <pre>
    Frequent Questions
Why are you building this?
Political deadlock on the Bitcoin network, increasing risks of centralization and corporate control, access to an active smart contract development community for significantly enhancing the capabilities of a store of value.

Do I have to buy tokens?
No. There are numerous ways to acquire Bitcoineum, including user oriented mining. This is a completely fair mined crypto token, there is no initial distribution, no founder\'s reward, no pre-mine, no initial payments to the developers.

How do I mine?
Mining is essentially modelled as a game, similar to Satoshi Dice where you can risk Ether to increase your chance of receiving a block reward. This is a dynamic game where participants are betting against each other for a Bitcoineum reward. The testnet and main network versions of this game will be accessible from this Website via a web miner.

How does Bitcoineum store value?
Bitcoineum is digitally scarce in the same way that Bitcoin is, but benefits from Ethereum's smart contract capabilities and higher transactional throughput. The mining process mimics the physical process of expending electricity to guess a large random number in a certain format that Bitcoin employs.

Are you running an ICO?
No. Bitcoineum is a proof-of-burn currency, it is created through the destruction of other resources, this acts as a continual proxy of value.

What if nobody mines?
The difficulty of the network will drop until it becomes profitable for people to mine again, thus reaching equilibrium. Since the transactional throughput and integrity are managed by Ethereum large pauses in block creation are not problematic and only serve to increase the value for existing holders.

How will this be managed?
The intention is to make Bitcoineum completely autonomous in operation, with a small verifiable code base, and extensive security auditing. The entire code base will be open source and accessible prior to operation.

Why would I want this versus Bitcoin?
The Bitcoin network has it's own set of risks and limitations, centralized development and control, centralized mining, and changes in how the network will work could undermine it's utility as a store of value. It is easier to replicate Bitcoin's store of value semantics on Ethereum, than it is to replicate Ethereum's smart contract capabilities on Bitcoin.
</pre> -->
<header>
    <div class="header-title" *ngIf="lang === 'EN'" >
        Frequent Questions
    </div>
    <div class="header-title" *ngIf="lang !== 'EN'" >
            常见问题
        </div>
</header>
<section class="content-block" *ngIf="lang === 'EN'" >
    <h2>Why are you building this?</h2>
    <p>Political deadlock on the Bitcoin network, increasing risks of centralization and corporate control, access to an active smart contract development community for significantly enhancing the capabilities of a store of value.</p>
</section>
<section class="content-block" *ngIf="lang !== 'EN'" >
        <h2>你为什么开发这个项目？</h2>
        <p>因为比特币的政治僵局，中心化和社团管控下不断增加的风险。通过一个活跃的智能合约开发社区，借以显著增强链上价值存储的能力。</p>
    </section>
<section class="content-block" *ngIf="lang === 'EN'" >
    <h2>Do I have to buy tokens?</h2>
    <p>No. There are numerous ways to acquire Bitcoineum, including user oriented mining. This is a completely fair mined crypto token, there is no initial distribution, no founder\'s reward, no pre-mine, no initial payments to the developers.</p>
</section>
<section class="content-block" *ngIf="lang !== 'EN'" >
        <h2>我必须购买代币吗？</h2>
        <p>不，有很多方法可以获得比特坊,包括面向用户的挖矿功能。它的挖矿方式绝对公平，没有初步分配，没有创始人的奖励，没有预先挖矿，没有初始开发商支付。</p>
    </section>
<section class="content-block" *ngIf="lang === 'EN'" >
    <h2>How do I mine?</h2>
    <p>Mining is essentially modelled as a game, similar to Satoshi Dice where you can risk Ether to increase your chance of receiving a block reward. This is a dynamic game where participants are betting against each other for a Bitcoineum reward. The testnet
        and main network versions of this game will be accessible from this Website via a web miner.
    </p>
</section>
<section class="content-block" *ngIf="lang !== 'EN'" >
        <h2>我要怎么才能挖矿？</h2>
        <p>挖矿被设计成了游戏的形式，它类似于Satoshi的骰子，您可以通过押注以太坊的方式来增加您获得区块奖励的概率。 这是一个动态模型，参与者相互竞争以获得比特坊奖励。挖矿的测试网络和主网络版本都可以通过本网站的挖矿界面直接访问。
        </p>
    </section>
<section class="content-block" *ngIf="lang === 'EN'" >
    <h2>How does Bitcoineum store value?</h2>
    <p>
        Bitcoineum is digitally scarce in the same way that Bitcoin is, but benefits from Ethereum's smart contract capabilities and higher transactional throughput. The mining process mimics the physical process of expending electricity to guess a large random
        number in a certain format that Bitcoin employs.

    </p>
</section>
<section class="content-block" *ngIf="lang !== 'EN'" >
        <h2>比特坊将如何存储价值？</h2>
        <p>
                比特坊在稀缺性上与比特币相同，但受益于以太坊的智能合约能力和更高的交易吞吐量，采矿过程模拟了比特币所采用的依靠消耗电力在确定格式下猜测大量随机数的物理挖矿模式。
    
        </p>
    </section>
<section class="content-block" *ngIf="lang === 'EN'" >
    <h2>Are you running an ICO?</h2>
    <p>
        No. Bitcoineum is a proof-of-burn currency, it is created through the destruction of other resources, this acts as a continual proxy of value.
    </p>
</section>
<section class="content-block" *ngIf="lang !== 'EN'" >
        <h2>你是否需要一个ico？</h2>
        <p>
                不，比特坊是一种基于燃烧证明的数字货币，它通过燃烧其他资源产生，这种方式为价值创造了持续流动的可能。         </p>
    </section>
<section class="content-block" *ngIf="lang === 'EN'" >
    <h2>What if nobody mines?</h2>
    <p>
        The difficulty of the network will drop until it becomes profitable for people to mine again, thus reaching equilibrium. Since the transactional throughput and integrity are managed by Ethereum large pauses in block creation are not problematic and only
        serve to increase the value for existing holders.
    </p>
</section>
<section class="content-block" *ngIf="lang !== 'EN'" >
        <h2>如果没有人挖矿呢？</h2>
        <p>
                网络难度将下降，直到人们开始挖矿为止，从而达到平衡。由于交易吞吐量和完整性是由以太坊网络完成，区块创建过程中的过长时间的暂停并不会成为问题，而是会增加现有持有者手中的价值。 
        </p>
    </section>
<section class="content-block" *ngIf="lang === 'EN'" >
    <h2>How will this be managed?</h2>
    <p>
        The intention is to make Bitcoineum completely autonomous in operation, with a small verifiable code base, and extensive security auditing. The entire code base will be open source and accessible prior to operation.

    </p>
</section>
<section class="content-block" *ngIf="lang !== 'EN'" >
        <h2>整个比特坊网络如何管理？</h2>
        <p>
                我的意图是使比特坊完全自主运行，具有小的可验证的代码库和广泛的安全审计。整个代码库将在操作前是开源的，可访问的。    
        </p>
    </section>
<section class="content-block" *ngIf="lang === 'EN'" >
    <h2>为什么要采用这种对标比特币的方式?</h2>
    <p>
            比特币网络其本身具有一定风险和局限性，中心化的开发和控制，中心化采矿以及网络运行变化的可能会破坏其作为价值存储的实用性。 在以太坊之上复制比特币的价值存储功能要远比在Bitcoin上复制智能合约功能更容易。
    </p>
</section>