<header>
    <div class="header-title" *ngIf="lang === 'EN'">
        About US
    </div>
    <div class="header-title" *ngIf="lang !== 'EN'">
            关于我们
        </div>
</header> 
<section class="content-block" *ngIf="lang === 'EN'">
    <h2>We believe</h2>
    <p>
        That a store of value should be governed by parameters outside of human control. That we can create a more perfect store of value that interoperates seamlessly on the world's largest smart contract network. Ultimately, we need to separate the value creation
        system from the manipulative control of developers, miners, and other special interests. </p>
</section>
<section class="content-block" *ngIf="lang !== 'EN'">
        <h2>我们坚信</h2>
        <p>
                价值存储应该受到人类掌控之外的参数的控制。 我们可以创造一个更完美的价值存储体系，使其能够与世界上最大的智能合约网络实现无缝链接。 最终，我们需要将整个价值创造系统与开发商，矿工和其他参与者的操控分割开。 </section>
<section class="content-block" *ngIf="lang === 'EN'">
    <h2>Who we are</h2>
    <p>
        <img src="http://bitcoineum.com/assets/matt.png" />
        <span>No. There are numerous ways to acquire Bitcoineum, including user oriented mining. This is a completely fair mined crypto token, there is no initial distribution, no founder\'s reward, no pre-mine,
        no initial payments to the developers.</span>
    </p>
</section>
<section class="content-block" *ngIf="lang !== 'EN'">
        <h2>我是谁</h2>
        <p>
            <img src="http://bitcoineum.com/assets/matt.png" />
            <span>Matt Branton 是比特币早期使用者，技术专家和智能合约专家。 Coinlock一个早期的比特币小额支付网站创始人，过去五年的时间里他一直在从事基于比特币的智能合约基础设施和基于区块链的技术研究工作。</span>
        </p>
    </section>