<header>
    <div class="header-title">
        About US
    </div>
</header>
<section class="content-block">
    <h2>We believe</h2>
    <p>
        That a store of value should be governed by parameters outside of human control. That we can create a more perfect store of value that interoperates seamlessly on the world's largest smart contract network. Ultimately, we need to separate the value creation
        system from the manipulative control of developers, miners, and other special interests. </p>
</section>

<section class="content-block">
    <h2>Who we are</h2>
    <p>
        <img src="http://bitcoineum.com/assets/matt.png" />
        <span>No. There are numerous ways to acquire Bitcoineum, including user oriented mining. This is a completely fair mined crypto token, there is no initial distribution, no founder\'s reward, no pre-mine,
        no initial payments to the developers.</span>
    </p>
</section>